@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

.font-league-spartan {
  font-family: 'League Spartan', sans-serif;
}

.font-sanchez {
  font-family: 'Sanchez', serif;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel 30s linear infinite;
}

.animate-carousel:hover {
  animation-play-state: paused;
}

.client-logo {
  transition: transform 0.3s ease;
}

.client-logo:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}